<!DOCTYPE html>
<html>

<head>
  <title>Ecocité - About</title>
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="./static/media/logo-light-square.png">
  <script src="scripts/script.js"></script>
  <style>
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body onload="runAboutInitialisers();" class="main-layout">
  <header>
    <div id="header-content" class="header-content">
      <div id="header-content-left">
        <a href="/" id="header-link">
          <div id="header-logo-container">
            <img id="header-logo" src="./static/media/logo-dark.png" height="50" width="auto" alt="Ecocité Logo" />
          </div>
        </a>
      </div>
      <div id="header-content-right">
        <div id="footer-links-container">
          <a href="locator.html">Locator</a>
          <span>&bull;</span>
          <a href="about.html">About</a>
        </div>
      </div>
    </div>
  </header>
  <div class="main-content-container">
    <div id="main-content" class="main-content">
      <p class="heading text-center">About Ecocité</p><br>

      <div id="about-logo-container">
        <img id="about-logo" src="./static/media/logo-light.png" height="200" width="200" alt="Ecocité Logo" />
      </div><br>

      <div>
        Our planet earth is constantly evolving. After all, it is only human nature to dream, build and
        achieve. As time passes,
        technology and engineering improve. Our cities and towns become more advanced and metropolitan to reflect our constant
        growth and evolution.
      </div><br>

      <div>
        While these advancements are exciting, it is important to be aware of the state of the environment. Ecocité is
        dedicated to offering intelligent insights about the health of our cities and towns across the globe. We aim to
        provide key data, recommendations and solutions to prominent issues that affect the natural and built environments such as forest preservation, energy efficiency,
        irrigation, waste management, and urban planning.
      </div><br>

      <div>
        We are dedicated to sustaining both a sturdy and healthy built environment.
      </div><br>

    </div>
  </div>
  <footer>
    <div class="footer-content">
      <p id="footer-text"></p>
      <div id="footer-links-container">
        <a href="locator.html">Locator</a>
        <span>&bull;</span>
        <a href="about.html">About</a>
      </div>
    </div>
  </footer>
</body>

</html>