<!DOCTYPE html>
<html>

<head>
  <title>Ecocité</title>
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <link rel="icon" type="image/png" href="./static/media/logo-light-square.png">
  <script src="scripts/script.js"></script>
</head>

<body>
  <div id="index-content-container">
    <div id="index-content-subcontainer-left">
      <div id="index-banner-container">
        <img id="index-banner" src="./static/media/index-banner.png" height="100%" width="100%" alt="Index Banner" />
      </div>
    </div>
    <div id="index-content-subcontainer-right">
      <div>
        <div id="index-logo-container">
          <img id="index-logo" src="./static/media/logo-light.png" height="200" width="200" alt="Index Banner" />
        </div><br>

        <p id="index-tag-line" class="text-center">
          Dedicated to sustaining the health and efficiency of our cities and towns.
        </p><br><br><br>

        <a id="index-continue-link" href="/locator.html">Continue &#8680;</a>
      </div>


    </div>

  </div>
</body>

</html>