<!DOCTYPE html>
<html>

<head>
  <title>Ecocité - Location</title>
  <link rel="icon" type="image/png" href="./static/media/logo-light-square.png">
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <script type="text/javascript" src="scripts/script.js"></script>
</head>

<body onload="initMap();">
  <gmp-map-3d id="map" center="37.841157, -122.551679" range="2000" tilt="75" heading="330"></gmp-map-3d>
  <script async
    src="https://maps.googleapis.com/maps/api/js?key=<GOOGLE_MAPS_SDK_API_KEY>&v=alpha&libraries=maps3d"></script>
</body>

</html>